
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React/hello-world/node_modules
/React/hello-world/pnp
/React/hello-world/pnp.js

# testing
/React/hello-world/coverage
