
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React/hello-world/node_modules

/React/calender/node_modules

/React/to-do/node_modules
# testing
/React/hello-world/coverage
/React/calender/coverage

#working
/React/calender